
{%- if card_product and card_product != empty -%}
  {%- liquid
    assign ratio = 1
    if card_product.featured_media and media_aspect_ratio == 'portrait'
      assign ratio = 0.8
    elsif card_product.featured_media and media_aspect_ratio == 'adapt'
      assign ratio = card_product.featured_media.aspect_ratio
    endif
    if ratio == 0 or ratio == nil
      assign ratio = 1
    endif
  -%}
  <div class="card-wrapper underline-links-hover">
    <div class="card
      card--{{ settings.card_style }}
      {% if card_product.featured_media %} card--media{% else %} card--text{% endif %}
      {% if settings.card_style == 'card' %} color-{{ settings.card_color_scheme }} gradient{% endif %}
      {% if extend_height %} card--extend-height{% endif %}
      {% if card_product.featured_media == nil and settings.card_style == 'card' %} ratio{% endif %}"
      style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
    >
      <div class="card__inner {% if settings.card_style == 'standard' %}color-{{ settings.card_color_scheme }} gradient{% endif %}{% if card_product.featured_media or settings.card_style == 'standard' %} ratio{% endif %}" style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;">
        {%- if card_product.featured_media -%}
          <div class="card__media">
            <div class="media media--transparent media--hover-effect">
              {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
              <img
                srcset="{%- if card_product.featured_media.width >= 165 -%}{{ card_product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 360 -%}{{ card_product.featured_media | img_url: '421x421', crop: 'center' }} 421w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 533 -%}{{ card_product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 720 -%}{{ card_product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 940 -%}{{ card_product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 1066 -%}{{ card_product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
                  {{ card_product.featured_media | image_url }} {{ card_product.featured_media.width }}w"
                src="{{ card_product.featured_media | image_url: width: 533 }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                alt="{{ card_product.featured_media.alt | escape }}"
                class="motion-reduce"
                {% unless lazy_load == false %}loading="lazy"{% endunless %}
                width="{{ card_product.featured_media.width }}"
                height="{{ card_product.featured_media.height }}"
              >
              {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}

              {%- if card_product.media[1] != nil and show_secondary_image -%}
                <img
                  srcset="{%- if card_product.media[1].width >= 165 -%}{{ card_product.media[1] | image_url: width: 165 }} 165w,{%- endif -%}
                    {%- if card_product.media[1].width >= 360 -%}{{ card_product.media[1] | image_url: width: 360 }} 360w,{%- endif -%}
                    {%- if card_product.media[1].width >= 533 -%}{{ card_product.media[1] | image_url: width: 533 }} 533w,{%- endif -%}
                    {%- if card_product.media[1].width >= 720 -%}{{ card_product.media[1] | image_url: width: 720 }} 720w,{%- endif -%}
                    {%- if card_product.media[1].width >= 940 -%}{{ card_product.media[1] | image_url: width: 940 }} 940w,{%- endif -%}
                    {%- if card_product.media[1].width >= 1066 -%}{{ card_product.media[1] | image_url: width: 1066 }} 1066w,{%- endif -%}
                    {{ card_product.media[1] | image_url }} {{ card_product.media[1].width }}w"
                  src="{{ card_product.media[1] | image_url: width: 533 }}"
                  sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                  alt="{{ card_product.media[1].alt | escape }}"
                  class="motion-reduce"
                  loading="lazy"
                  width="{{ card_product.media[1].width }}"
                  height="{{ card_product.media[1].height }}"
                >
              {%- endif -%}
            </div>
          </div>
        {%- endif -%}

        <div class="hover-cart">
            <div class="card__content">
                <div class="add-carts">
                    {%- if show_quick_add -%}
                        <div class="quick-add">
                          {%- assign product_form_id = 'quick-add-' | append: section_id | append: card_product.id -%}
                          {%- if card_product.has_only_default_variant -%}
                            <product-form>
                              {%- form 'product', card_product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                                <input type="hidden" name="id" value="{{ card_product.selected_or_first_available_variant.id }}" disabled>
                                <button
                                  id="{{ product_form_id }}-submit"
                                  type="submit"
                                  name="add"
                                  class="quick-add__submit button button--full-width button--secondary"
                                  aria-haspopup="dialog"
                                  aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
                                  aria-live="polite"
                                  data-sold-out-message="true"
                                  {% if card_product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                                >
                                  <span>
                                    {%- if card_product.selected_or_first_available_variant.available -%}
                                      {{ 'products.product.add_to_cart' | t }}
                                    {%- else -%}
                                      {{ 'products.product.sold_out' | t }}
                                    {%- endif -%}
                                  </span>
                                  <span class="sold-out-message hidden">
                                    {{ 'products.product.sold_out' | t }}
                                  </span>
                                  <div class="loading-overlay__spinner hidden">
                                    <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                      <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                    </svg>
                                  </div>
                                </button>
                              {%- endform -%}
                            </product-form>
                          {%- else -%}
                            <modal-opener data-modal="#QuickAdd-{{ card_product.id }}">
                              <button
                                id="{{ product_form_id }}-submit"
                                type="submit"
                                name="add"
                                class="choose-option quick-add__submit button button--full-width button--secondary"
                                aria-haspopup="dialog"
                                aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
                                data-product-url="{{ card_product.url }}"
                              >
                                {{ 'products.product.choose_options' | t }}
                                <div class="loading-overlay__spinner hidden">
                                  <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                  </svg>
                                </div>
                              </button>
                            </modal-opener>
                            <quick-add-modal id="QuickAdd-{{ card_product.id }}" class="quick-add-modal">
                              <div role="dialog" aria-label="{{ 'products.product.choose_product_options' | t: product_name: card_product.title | escape }}" aria-modal="true" class="quick-add-modal__content global-settings-popup" tabindex="-1">
                                <button id="ModalClose-{{ card_product.id }}" type="button" class="quick-add-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>
                                <div id="QuickAddInfo-{{ card_product.id }}" class="quick-add-modal__content-info">
                                </div>
                              </div>          
                            </quick-add-modal>
                          {%- endif -%}
                        </div>
                    {%- endif -%}
                </div>
                <div class="quick-view">
                    <modal-opener data-modal="#QuickAdd-{{ card_product.id }}">
                        <button
                          id="{{ product_form_id }}-submit"
                          type="submit"
                          name="add"
                          class="quick-view quick-add__submit button button--full-width button--secondary"
                          aria-haspopup="dialog"
                          aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
                          data-product-url="{{ card_product.url }}"
                        >
                          {{ 'products.product.choose_options' | t }}
                          <div class="loading-overlay__spinner hidden">
                            <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                              <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                            </svg>
                          </div>
                        </button>
                      </modal-opener>
                      {{ products.product.choose_product_options }}
                      <quick-add-modal id="QuickAdd-{{ card_product.id }}" class="quick-add-modal">
                        <div role="dialog" aria-label="{{ 'products.product.choose_product_options' | t: product_name: card_product.title | escape }}" aria-modal="true" class="quick-add-modal__content global-settings-popup" tabindex="-1">
                          <button id="ModalClose-{{ card_product.id }}" type="button" class="quick-add-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>
                          <div id="QuickAddInfo-{{ card_product.id }}" class="quick-add-modal__content-info">
                          </div>
                        </div>          
                      </quick-add-modal>
                </div>
                <div class="product-links">
                    <a href="{{ card_product.url }}" class="full-unstyled-link">
                        {{ card_product.title | escape }}
                      </a>
                </div>

            </div>
        </div>



      
      </div>
      <div class="card__content">
        <div class="card__information">
          <h6 class="card__heading{% if card_product.featured_media or settings.card_style == 'standard' %} h6{% endif %}"{% if card_product.featured_media or settings.card_style == 'card' %} id="title-{{ section_id }}-{{ card_product.id }}"{% endif %}>
            
              {{ card_product.title | escape }}
            
          </h6>
          <div class="card-information">
           

           <span class="caption-large light description">{{ card_product.description | strip_html | truncate: 15 }}</span>

           
            {% render 'price', product: card_product, price_class: '' %}
          </div>
        </div>

        
      </div>
    </div>
  </div>

{%- endif -%}
