{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'product-slide.css' | asset_url | stylesheet_tag }}
{%- if section.settings.enable_quick_add -%}
    <link rel="stylesheet" href="{{ 'quick-add.css' | asset_url }}" media="print" onload="this.media='all'">
    <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}

{%- liquid
    assign products_to_display = section.settings.collection.all_products_count
  
    if section.settings.collection.all_products_count > section.settings.products_to_show
      assign products_to_display = section.settings.products_to_show
      assign more_in_collection = true
    endif
    
  -%}
  <div class="color-{{ section.settings.color_scheme }} isolate gradient">
    <div class=" page-width">
<div class="product-slides-in">



  <ul class="product-slider" data-slick='{
    "infinite": true, 
    "dots": true,
      "arrows": false,                                    
    "autoplay": true,
    "swipe": true,
    "slidesToShow": {{ section.settings.columns_desktop }},
    "slidesToScroll": 1,
    "responsive": [
        {
          "breakpoint": 1030,
          "settings": {
            "slidesToShow": {{ section.settings.columns_ipad }},
            "slidesToScroll":1
          }
        },
        {
          "breakpoint": 800,
          "settings": {
          
            "slidesToShow": 2,
            "slidesToScroll":1
          
          }
        },
        {
          "breakpoint": 480,
          "settings": {
            
            "slidesToShow": 1,
            "slidesToScroll":1
          }
        }
      ]
      }'>
      {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
        <li id="Slide-{{ section.id }}-{{ forloop.index }}" class="card-boxs">
            {% render 'card-product-slide',
                card_product: product,
                media_aspect_ratio: section.settings.image_ratio,
                show_quick_add: section.settings.enable_quick_add,
                section_id: section.id
              %}
        </li>

      {%- endfor -%}
    </ul>
</div>
</div>
</div>
    {% schema %}
{
  "name": "Product Slider",
  "tag": "section",
  "class": "section product-slider-outer",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Featured collection",
      "label": "t:sections.featured-collection.settings.title.label"
    },
    {
        "type": "select",
        "id": "heading_size",
        "options": [
          {
            "value": "h2",
            "label": "t:sections.all.heading_size.options__1.label"
          },
          {
            "value": "h1",
            "label": "t:sections.all.heading_size.options__2.label"
          },
          {
            "value": "h0",
            "label": "t:sections.all.heading_size.options__3.label"
          }
        ],
        "default": "h1",
        "label": "t:sections.all.heading_size.label"
      },
    {
        "type": "collection",
        "id": "collection",
        "label": "t:sections.featured-collection.settings.collection.label"
      },
      {
        "type": "range",
        "id": "products_to_show",
        "min": 2,
        "max": 12,
        "step": 1,
        "default": 4,
        "label": "t:sections.featured-collection.settings.products_to_show.label"
      },
      {
        "type": "select",
        "id": "image_ratio",
        "options": [
          {
            "value": "adapt",
            "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
          },
          {
            "value": "portrait",
            "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
          },
          {
            "value": "square",
            "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
          }
        ],
        "default": "adapt",
        "label": "t:sections.featured-collection.settings.image_ratio.label"
      },
      {
        "type": "range",
        "id": "columns_desktop",
        "min": 1,
        "max": 5,
        "step": 1,
        "default": 4,
        "label": "t:sections.featured-collection.settings.columns_desktop.label"
      },
      {
        "type": "range",
        "id": "columns_ipad",
        "min": 1,
        "max": 5,
        "step": 1,
        "default": 3,
        "label": "t:sections.featured-collection.settings.columns_desktop.label"
      },
      {
        "type": "checkbox",
        "id": "enable_quick_add",
        "default": false,
        "label": "t:sections.featured-collection.settings.enable_quick_buy.label"
      },
      {
        "type": "select",
        "id": "columns_mobile",
        "default": "2",
        "label": "t:sections.featured-collection.settings.columns_mobile.label",
        "options": [
          {
            "value": "1",
            "label": "t:sections.featured-collection.settings.columns_mobile.options__1.label"
          },
          {
            "value": "2",
            "label": "t:sections.featured-collection.settings.columns_mobile.options__2.label"
          }
        ]
      }
],
"presets": [
  {
    "name": "Product Slider"
  }
]
}
{% endschema %}